@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    text-align: left;
    background-color: #f2ebe3;
    display: grid;
    place-content: center;
}

.container {
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
    width: 340px;
    border-radius: 1rem;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure-container .mobile-img {
    width: 340px;
    border-radius: 1rem 1rem 0 0;
}

.figure-container .desktop-img {
    display: none;
}

.desc {
    color: #6c7289;
}

.desc header {
    padding: 1rem 0;
    font-weight: 400;
    letter-spacing: .2rem;
}

.desc .prod-info h1, .desc .prod-info p {
    margin-bottom: 1rem;
}

.desc .prod-info h1 {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    color: #1c232b;
}

.desc .prod-price {
    padding: 1rem 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.desc .prod-price h1 {
    margin-right: 1rem;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    color: #3c8067;
}

.desc .prod-price p {
    text-decoration: line-through;
}

.desc .btn {
    padding: 1rem 0;
    width: 100%;
    border: none;
    border-radius: .5rem;
    background-color: #3c8067;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.desc .btn:hover, .desc .btn:focus {
    cursor: pointer;
    background-color: #1a4031c0;
}

.desc .btn:active {
    cursor: pointer;
    background-color: #1a4031;
}

.desc .btn img {
    margin-right: 10px;
}

@media screen and (min-width:650px) {
    .container {
        width: 650px;
        padding: 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .figure-container .mobile-img {
        display: none;
    }

    .figure-container .desktop-img {
        display: block;
        width: 320px;
        border-radius: 1rem 0 0 1rem;
    }

    .desc {
        padding: 1rem 2rem;
    }

    .desc .prod-info h1, .desc .prod-price h1 {
        font-size: 2.25rem;
    }

    .desc .btn {
        margin-top: 1rem;
    }
}